.btn {
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  margin: 0 10px;
  border: none;
  font-weight: 600;
}

.btnTransparent {
  border: solid #fff 1px;
  background-color: transparent;
}
.btnFull {
  color: #004db3;
}
